{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "comma-dangle": 0,
        "consistent-return": 1,
        "no-param-reassign": 1,
        "guard-for-in": 1,
        "no-nested-ternary": 1,
        "no-else-return": 1,
        "max-len": [2, 150, 1]
    }
}
